@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:wght@300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
  list-style-type: none;
  scroll-behavior: smooth;
  font-family: var(--body-font);
}
:root {
  --title-font: "Saira", Helvetica, Arial, sans-serif;
  --body-font: "Nunito", Helvetica, Arial, sans-serif;
  --p-color: rgb(146,95,226);
  --s-color: rgb(106,79,149);
  --half-white:rgb(211, 205, 205);
  --light-gray:rgb(87, 88, 92);
  --dark-gray:rgb(28,29,33);
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-position: center;
  object-fit: cover;
}


::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #f2f2f2;
  border-radius: 6px;
}