main{
    display: flex;
    width: 100vw;
    height: 100vh;
}
.main1-content{
    display: flex;
    align-items: center;
    justify-content:end;
    height: 100%;
    width: 50%;
    background-color:rgb(35, 36, 40) ;
    
}
.main1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(35, 36, 40);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 5rem;
    
}

.login-data{
    display: flex;
    flex-direction: column;

}

.login-data h1{
    font-size: 2rem;
    font-weight:900;
    margin: .6rem 0rem;
    color: white;
}

.login-data p{
    color: var(--half-white);
    font-size: .9rem;
    margin-bottom: 1.5rem;
}
.login-data input{
  background-color: rgb(35, 36, 40);
  margin-bottom: .5rem  ;
  outline: none;
  border: none;
  padding: .5rem 0rem;
  font-size: .7rem;
  border-bottom: 1px solid var(--light-gray);
}
.frgt-pwd{
    font-size: .8rem;
    color:rgb(188, 182, 182) ;
    margin: 2rem 0rem .3rem 0rem;
}


.recovery p{
    font-size: .8rem;
    color: var(--half-white);
}

.signup{
    padding-bottom: .3rem;
    font-weight: 800;
    font-size: 1rem;
    border-bottom: 2px solid white;
}
.login-help{
    font-size: .8rem;
    padding-right: 1rem ;
    margin-top: 5rem;
    color: white;
}


.login-btn{
    background-color: var(--p-color);
    border: none;
    border-radius: .5rem;
    padding: .5rem 1rem ;
    font-size: 1rem;
    cursor: pointer;
    color: white;

    margin: .6rem 0rem;
}

.hlp-lnk{
    color: red;
}

.main2-content{
    display: flex;
    align-items:center;
    justify-content: start;
    height: 100%;
    width: 70%;
    background-color:var(--p-color) ;
    color: white;
}
.main2{
    height: 90%;
    display: flex;
    flex-direction: column;
    background-color: var(--p-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 2rem;
}

.login-img img{
    width: 30%;
}

.login-txt{
    margin: 2rem;
}
.schl-name{
    font-size: 3rem;
}

.login-txt p{
    font-size: .9rem;
    margin-top: 1rem;
}


@media ( max-width:750px) {

    .main2-content{
        display: none;
    } 

     .main1-content{
        width: 100%;
    } 
 
    
}

/* Home Page Styling  */
.home-main{
    padding: 1.5rem;
    width: 100vw;
    padding: 2rem;
}
.side-bar{
    background-color: var(--p-color);
    color: white;
    padding: 2rem;
    font-weight: 500;
    border-radius: 1rem;
    width: 15%;
    
    

}
ul li{
    margin-bottom: 1.8rem;
    cursor: pointer;
}
ul li img{
    background-color: var(--p-color);
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    height: 10rem;
}



.last-li{
    margin-top: 5rem;
}

.dash-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dashboard{
    width: 80%;
    padding: 0rem 1.5rem;
}
.dash-main{
    display: flex;

}
.dash-main1{
    width: 70%;
}
.search input{
    border-radius: 1rem;
    padding: .6rem 1rem;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: none;
    width:30vw ;
}

.search input::placeholder{
    text-align: right;

}

.profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-pic {
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
    overflow: hidden;
    border: 4px solid var(--p-color);
    
}
.profile-name{
    margin-left: .6rem;
}

.profile-name h6{
    font-size: 1rem;
    margin-bottom: .6rem;
}

.profile-name p{
    font-size: .9rem;
    color: rgb(143, 140, 140);
}


.profile-data{
    background-color: var(--p-color);
    display: flex;
    justify-content:space-around;
    border-radius: 1rem;
    color: white;
    margin-top: 1rem;
    height: 25%;
}
.welcome-msg{
    padding-top: 1.5rem;
}
.welcome-msg p{
    margin-bottom: 2rem;
}
.welcome-msg h1{
    font-size: 2rem;
    margin-bottom: .5rem;
}
.dash-finance{
    margin: 1rem 1rem 0rem 1rem;
}
.dash-finance h1{
    font-size: 1.2rem;
    margin-bottom: .6rem;
}
.dash-finance ul {
    display: flex;
    justify-content: space-around;

}
.dash-finance ul li {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 1.5rem 3rem;
    border-radius: 2rem;
    text-align: center;

}
.dash-finance ul li i{
    font-size: 3rem;
}
.dash-course{
    margin: 1rem 1rem;
}
.dash-finance ul li p{
    opacity: 0.5;    
    font-size: .9rem;
}
.dash-course h2{
    font-size: 1rem;
    margin-bottom: .6rem;
}

.courses ul{
    display: flex;
    justify-content: space-around;
}
.courses ul li{
    display: flex;
    align-items: center;
    background-color: rgb(146,95,226,0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: var(--p-color);
    padding: 1rem;
    border-radius: 2rem;
    margin: 0rem 2rem ;


}
.course-data{
    padding: 1rem;
}
.course-data h6{
    font-size: 1rem;
    margin-bottom: 1rem;
}
.course-data button{
    background-color: var(--p-color);
    color: white;
    border: none;
    padding: .5rem 1.5rem;
    border-radius: 1rem;
}
.course-img i{
    font-size: 5rem;
}

.instractor-profile img {
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
    overflow: hidden;
    border: 4px solid var(--p-color);
    
}

.dash-main2{
    margin-top: 1.5rem ;
    width: 30%;
}
.dash-main2 h6{
    font-size: 1rem;
    margin-bottom: .6rem;
}

.notice{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.notice-data{
    padding: 1rem 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;

}
.notice p{
    color: var(--p-color);
}

.notice-data ul li h1{
    font-size: 1rem;
}
.notice-data ul li h6{
    font-size: .8rem;
    opacity: .5;
}
.notice-data ul li p{
    color: var(--p-color);    
    font-weight: 600;
}