main{
    display: flex;
    width: 100vw;
    height: 100vh;
}
.main1-content{
    display: flex;
    align-items: center;
    justify-content:end;
    height: 100%;
    width: 50%;
    background-color:rgb(35, 36, 40) ;
    
}
.main1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(35, 36, 40);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 5rem;
    
}

.login-data{
    display: flex;
    flex-direction: column;

}

.login-data h1{
    font-size: 2rem;
    font-weight:900;
    margin: .6rem 0rem;
    color: white;
}

.login-data p{
    color: var(--half-white);
    font-size: .9rem;
    margin-bottom: 1.5rem;
}
.login-data input{
  background-color: rgb(35, 36, 40);
  margin-bottom: .5rem  ;
  outline: none;
  border: none;
  padding: .5rem 0rem;
  font-size: .7rem;
  border-bottom: 1px solid var(--light-gray);
}
.frgt-pwd{
    font-size: .8rem;
    color:rgb(188, 182, 182) ;
    margin: 2rem 0rem .3rem 0rem;
}
.frgt-pwd p a{
    color: white;
}

.recovery p{
    font-size: .8rem;
    color: var(--half-white);
}

.signup{
    padding-bottom: .3rem;
    font-weight: 800;
    font-size: 1rem;
    border-bottom: 2px solid white;
}
.login-help{
    font-size: .8rem;
    padding-right: 1rem ;
    margin-top: 5rem;
    color: white;
}


.login-btn{
    background-color: var(--p-color);
    border: none;
    border-radius: .5rem;
    padding: .5rem 1rem ;
    font-size: 1rem;
    cursor: pointer;
    color: white;

    margin: .6rem 0rem;
}

.hlp-lnk{
    color: red;
}

.main2-content{
    display: flex;
    align-items:center;
    justify-content: start;
    height: 100%;
    width: 70%;
    background-color:var(--p-color) ;
    color: white;
}
.main2{
    height: 90%;
    display: flex;
    flex-direction: column;
    background-color: var(--p-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 2rem;
}

.login-img img{
    width: 30%;
}

.login-txt{
    margin: 2rem;
}
.schl-name{
    font-size: 3rem;
}

.login-txt p{
    font-size: .9rem;
    margin-top: 1rem;
}


@media ( max-width:750px) {

    .main2-content{
        display: none;
    } 

     .main1-content{
        width: 100%;
    } 
 
    
}

/* Home Page Styling  */
.